__The Below Cell is required for working in Kaggle Enviornment. So we need to run the below cell and the output shows if we are good to go or not.__

In [59]:
# Importing necessary liraries:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [60]:
# Importing data:

train = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')

In [61]:
# Viewing the training data:

train.head(3)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.00,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.05,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.00,NaN,S,0

In [62]:
# Viewing the test data: 

test.head(3)     #Only difference in terms of column with `train data` is absence of 'Survived' column.

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500,NaN,S
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q

>Getting more information about our data.

In [63]:
# Info() method will help us mainly to identify the amount null values.

train.info()     #We have null values for Age, Cabin & Embarked.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    668 non-null    int64
 1   Name      668 non-null    object
 2   Sex       668 non-null    object
 3   Age       536 non-null    float64
 4   SibSp     668 non-null    int64
 5   Parch     668 non-null    int64
 6   Ticket    668 non-null    object
 7   Fare      668 non-null    float64
 8   Cabin     154 non-null    object
 9   Embarked  667 non-null    object
 10  Survived  668 non-null    int64
dtypes: float64(2), int64(4), object(5)
memory usage: 57.5+ KB

In [64]:
# Test data:

test.info()       #Null values for Age, Fare & Cabin Column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    223 non-null    int64
 1   Name      223 non-null    object
 2   Sex       223 non-null    object
 3   Age       178 non-null    float64
 4   SibSp     223 non-null    int64
 5   Parch     223 non-null    int64
 6   Ticket    223 non-null    object
 7   Fare      223 non-null    float64
 8   Cabin     50 non-null     object
 9   Embarked  222 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 17.5+ KB

In [65]:
# Getting information about the rows and column of train and test data set:

train.shape, test.shape

((668, 11), (223, 10))

In [66]:
# For getting an overall statistics of the train data:

train.describe()

           Pclass         Age       SibSp       Parch        Fare    Survived
count  668.000000  536.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186   32.064552    0.402695
std      0.831638   14.240257    1.080327    0.854695   45.320835    0.490808
min      1.000000    0.670000    0.000000    0.000000    0.000000    0.000000
25%      2.000000   21.000000    0.000000    0.000000    7.925000    0.000000
50%      3.000000   29.000000    0.000000    0.000000   14.750000    0.000000
75%      3.000000   38.250000    1.000000    0.000000   31.275000    1.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200    1.000000

In [67]:
# 'O' is for getting a statistics of "Object Data Type":

train.describe(include=['O'])

,Name,Sex,Ticket,Cabin,Embarked
count,668,668,668,154,667
unique,668,2,524,119,3
top,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",male,1601,G6,S
freq,1,427,6,4,484

# __Exploratory data analysis by Visualization (Using training data)__

**Comments regarding null values found in the heatmap avove:**   
We can see that roughly 25% of the `Age` column contains null values. Also `Cabin` column contains more than 80% null values.

In [68]:
train.isnull().sum()       #More easy way to count the number null values.

Pclass        0
Name          0
Sex           0
Age         132
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

# Data Cleaning

## Train Data:

#### We will fill the missing `Age` data with the mean age of passenger of each class.

In [69]:
# Setting the Missing Age values with Mean Age on the basis of Passenger Class:

def mean_age_finder(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        if Pclass == 1:
            return 37
        elif Pclass == 2:
            return 29
        else:
            return 24
    else:
        return Age

In [70]:
# Updating the Age column with apply() method:

train['Age'] = train[['Age', 'Pclass']].apply(mean_age_finder, axis = 1)

In [71]:
# Verifying if there is any null value in Age column:

train.isnull().sum()

Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

In [72]:
# Now we will replace the two null values of 'Embarked' column.
# We will replace NaN values with most frequent value of this column: (Port from where the particular passenger was embarked/boarded): 

most_frequent_embarked = train['Embarked'].value_counts().index[0]      #Output: 'S'
train['Embarked'].fillna(most_frequent_embarked, inplace = True)

In [73]:
# Verifying if there is null values in Embarked column. Also we can see that Cabin column has a lot of null values. So we will drop it.

train.isnull().sum()

Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       514
Embarked      0
Survived      0
dtype: int64

In [74]:
# Dropping `Cabin` column from train data:

train.drop('Cabin', axis = 1, inplace = True)

In [75]:
# Verifying if there is any null values remains in our train data:

# sns.heatmap(train.isnull(), yticklabels = False, cbar = False)     #Way 1
train.isnull().sum()                                                 #Way 2 (I prefer this method)

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
Survived    0
dtype: int64

__So our train data is now free from null values.__

## Test Data:

In [76]:
# Setting the Missing Age values with Mean Age on the basis of Passenger Class:

def mean_age_finder_test(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        if Pclass == 1:
            return 42
        elif Pclass == 2:
            return 27
        else:
            return 24
    else:
        return Age

In [77]:
# Updating the Age column using apply() method:

test['Age'] = test[['Age', 'Pclass']].apply(mean_age_finder_test, axis = 1)

In [78]:
# Verifying if there is any null value in Age column:

test.isnull().sum()

Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       173
Embarked      1
dtype: int64

We will now drop the `Cabin` Column as it contains too many null values.

In [79]:
#Replacing the missing value of 'Fare' column with mean value:

test['Fare'].fillna(test['Fare'].mean(), inplace = True)

In [80]:
# Dropping `Cabin` column from test data:

test.drop('Cabin', axis = 1, inplace = True)

In [81]:
# Verifying if there is any null value in test data:

test.isnull().sum()

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    1
dtype: int64

# Converting Categorical Features

#### We will convert the categorical features to dummy variables using pandas. Otherwise our Machine Learning algorithm will not be able to take them as inputs.

#### Training Data:

In [82]:
# Setting drop_first = True is for preventing multicollinearity, as one column is opposite of another. 

sex = pd.get_dummies(train['Sex'], drop_first = True)
embarked = pd.get_dummies(train['Embarked'], drop_first = True)

In [83]:
# Removing Categorical Columns and added newly converted dummy columns:

train.drop(['Name', 'Sex', 'Ticket', 'Embarked'], axis = 1, inplace = True)
train = pd.concat([train, sex, embarked], axis = 1)

In [84]:
# Viewing train data after dropping and adding columns:

train.head()

   Pclass   Age  SibSp  Parch    Fare  Survived  male  Q  S
0       2  29.0      1      0  26.000         1     0  0  1
1       3  24.0      0      0   8.050         0     1  0  1
2       2  39.0      0      0  26.000         0     1  0  1
3       3  29.0      0      4  21.075         0     0  0  1
4       3  25.0      0      0   7.050         0     1  0  1

#### Test Data:

In [85]:
# Creating dummy variables:

sex = pd.get_dummies(test['Sex'], drop_first = True)
embarked = pd.get_dummies(test['Embarked'], drop_first = True)

In [86]:
# Removing Categorical Columns and added newly converted dummy columns (test data):

test.drop(['Name', 'Sex', 'Ticket', 'Embarked'], axis = 1, inplace = True)
test = pd.concat([test, sex, embarked], axis = 1)

In [87]:
# Viewing test data after dropping and adding columns:

test.head()

   Pclass   Age  SibSp  Parch     Fare  male  Q  S
0       2   8.0      1      1  36.7500     1  0  1
1       1  49.0      0      0  25.9292     0  0  1
2       3  24.0      0      0   7.7375     1  1  0
3       2  24.0      2      1  27.0000     0  0  1
4       1  36.0      0      0  26.2875     1  0  1

# Feature Selection

In [88]:
#X_train = train.drop(['Survived'], axis = 1)
#y_train = train['Survived']
#X_test = test.drop("PassengerId", axis=1).copy()
from sklearn.model_selection import train_test_split
#X=values[:, 1:]
X=train.drop('Survived',axis=1)
#Y=values[:, 0]
Y=train['Survived']
X_train, X_test, y_train, y_test=train_test_split(X, Y)

In [89]:
X_train.shape, y_train.shape, X_test.shape

((501, 8), (501,), (167, 8))

# Applying Logistic Regression Model

In [90]:
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression(solver = 'liblinear')
logmodel.fit(X_train, y_train)

log_predictions = logmodel.predict(X_test)

In [91]:
accuracy = round(logmodel.score(X_train, y_train) * 100, 2)
print('Logistic Regression Accuracy: ', accuracy)

Logistic Regression Accuracy:  77.64

# First Submission File

In [92]:
Submission = pd.DataFrame({
    "Survived": log_predictions
})

Submission.to_csv('Submission.csv', index = False)

In [93]:
# Viewing the submission file: 

Submission.head()

   Survived
0         1
1         1
2         0
3         0
4         0

# Further Improvement

*My first submission was using Logistic Regression. The accuracy was good. But we can improve the accuracy using more some advanced algorithm. Below I tested some algorithm to identify which algorithm gives the best accuracy.*   

  *All the accuracy scores are based on our training dataset.*

### KNN:

In [94]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)      # Model's Accuracy depends on number of neighbors.
knn.fit(X_train, y_train)
knn_predctions = knn.predict(X_test)

knn_accuracy = round(knn.score(X_train, y_train) * 100, 2)
print('KNN Model Accuracy: ', knn_accuracy)

KNN Model Accuracy:  79.44

#### KNN Output File:

In [95]:
knnOut = pd.DataFrame({
    "Survived": knn_predctions
})

knnOut.to_csv('KNN.csv', index = False)

### Decision Tree:

In [96]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train, y_train)
dtree_predictions = dtree.predict(X_test)

dtree_accuracy = round(dtree.score(X_train, y_train) * 100, 2)
print('Decision Tree Model Accuracy: ', dtree_accuracy)

Decision Tree Model Accuracy:  98.2

#### Decision Tree Output File:

In [97]:
dtreeOut = pd.DataFrame({
    "Survived": dtree_predictions
})

dtreeOut.to_csv('dtree.csv', index = False)

### Random Forest

In [98]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 100)
rfc.fit(X_train, y_train)
rfc_predictions = rfc.predict(X_test)

rfc_accuracy = round(rfc.score(X_train, y_train) * 100, 2)
print('Random Forest Model Accuracy: ', rfc_accuracy)

Random Forest Model Accuracy:  98.2

#### Random forest output file:

In [99]:
rfcOut = pd.DataFrame({
    "Survived": rfc_predictions
})

rfcOut.to_csv('rfc.csv', index = False)

### Support Vector Machine (SVM):

In [100]:
from sklearn.svm import SVC
svc = SVC(gamma = 'auto')
svc.fit(X_train, y_train)
svc_predictions = svc.predict(X_test)

svc_accuracy = round(svc.score(X_train, y_train) * 100, 2)
print('SVC Accuracy: ', svc_accuracy)

SVC Accuracy:  88.22

#### SVC Output file:

In [101]:
svcOut = pd.DataFrame({
    "Survived": svc_predictions
})

svcOut.to_csv('rfc.csv', index = False)

# Model Comparison:

In [102]:
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'K-Nearest Neighbors','Decision Tree', 'Random Forest', 'Support Vector Machines'],
    
    'Score': [accuracy, knn_accuracy, dtree_accuracy, 
              rfc_accuracy,  svc_accuracy]
    })

models.sort_values(by='Score', ascending=False)

                     Model  Score
2            Decision Tree  98.20
3            Random Forest  98.20
4  Support Vector Machines  88.22
1      K-Nearest Neighbors  79.44
0      Logistic Regression  77.64